@import 'variables';

@mixin link-button {
  padding: rem(8px);
  font-size: rem(16px);
  display: flex;
  align-items: center;
  color: $primary;
}

@mixin arrow {
  @include bg-img('/assets/images/vector/arrow-right-primary.svg', $bg-size: 'contain');
  width: 1rem;
  height: 1rem;
  display: flex;
  content: '';
}

.link-button {
  height: rem(54px);
  padding: rem(14px) rem(28px);
  position: relative;
  border: 0;
  font-weight: 500;
  font-size: rem(18px);
  line-height: 140%;
  transition: .3s;
  color: $white;
  background-color: transparent;
  cursor: pointer;

  &__title {
    opacity: 1;
    &--hidden {
      opacity: 0;
    }
  }

  &:disabled {
    background: $light-grey;
  }

  &:focus:not(:disabled) {
    outline: 1px solid $medium-grey;
  }

  &:hover:not(:disabled) {
    transform: translateY(-2px);
    box-shadow: 0px 2px 5px 0px $medium-grey;
  }

  &.link-forward {
    @include link-button;
    &::after {
      @include arrow;
      margin-left: rem(4px);
    }
    &:disabled {
      background: transparent;
      color: $light-grey;
      &:after {
        filter: invert(89%) sepia(0%) saturate(0%) hue-rotate(230deg) brightness(94%) contrast(98%);
      }
    }
  }

  &.link-backward {
    @include link-button;
    &::before {
      @include arrow;
      margin-right: rem(4px);
      transform: rotate(-180deg);
    }
    &:disabled {
      background: transparent;
      color: $light-grey;
      &:before {
        filter: invert(89%) sepia(0%) saturate(0%) hue-rotate(230deg) brightness(94%) contrast(98%);
      }
    }
  }
}

.link-button-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: rem(24px);
  height: rem(24px);
  display: flex;
  align-items: center;

  &__animation {
    &.link-forward {
      filter: invert(76%) sepia(63%) saturate(6019%) hue-rotate(123deg) brightness(95%) contrast(90%);
    }
    &.link-backward {
      filter: invert(76%) sepia(63%) saturate(6019%) hue-rotate(123deg) brightness(95%) contrast(90%);
    }
  }
}
