@import 'z-index';
@import 'colors';

:host {
  width: 100%;
  display: flex;
}

.app-header {
  position: fixed; top: 0;
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
  z-index: $z-header;

  &__item {
    height: 100%;
    margin: 0 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &--delimiter {
      height: 50%;
      width: 1px;
      margin: 0;
      background-color: $primary;
    }
  }

  &__link {
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: $primary;
    transition: .3s;
    &:hover { opacity: .7; }
  }
}
