@import 'variables';

:host {
  width: 100%;
  display: flex;
}

.app-header {
  position: fixed; top: 0;
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
  transition: .5s;
  z-index: $z-header;

  &--is-shrinked {
    padding: 10px 16px;
    .app-header__item {
      margin: 0 6px;
    }
    .app-header__link {
      font-size: 14px;
    }
  }

  &__item {
    height: 100%;
    display: flex;
    align-items: center;
    transition: .5s;
    cursor: pointer;
    &--delimiter {
      height: 50%;
      width: 1px;
      margin: 0;
      background-color: $primary;
    }
    &--mobile {
      height: auto;
      margin: 0 0 16px;
    }
    &--mobile-icon {
      height: auto;
      margin: 0 10px;
    }
  }

  &__link {
    height: 100%;
    font-size: 14px;
    padding: 0 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: $primary;
    transition: .5s;
    &:hover {
      opacity: .7;
    }
    &:focus {
      outline: 1px solid $primary;
    }
    &--mobile {
      color: $white;
    }
  }

  &__burger {
    margin-left: 18px;
    z-index: 1;
  }

  &__mobile-menu {
    position: absolute; top: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0,0,0,.5);
  }
}
