@import 'mixins';
@import 'variables';

.brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: rem(10px);
  color: $secondary;

  &__title {
    color: $primary;
    font-weight: 700;
  }

  &.small {
    font-size: rem(12px);
    .brand__title { font-size: rem(16px); }
  }
  &.medium {
    font-size: rem(16px);
    .brand__title { font-size: rem(20px); }
  }
  &.large {
    font-size: rem(20px);
    .brand__title { font-size: rem(24px); }
  }
}
