@import 'variables';
@import 'variables';

.app-button {
  height: rem(54px);
  padding: rem(14px) rem(28px);
  border: 0;
  background-color: transparent;
  font-weight: 500;
  font-size: rem(18px);
  line-height: 140%;
  color: $white;
  transition: .3s;
  cursor: pointer;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0px 2px 5px 0px $medium-grey;
  }
}

.primary {
  background: linear-gradient(4.01deg, #059669 3.04%, #36DCA5 96.51%);
  color: $white;
}

.secondary {
  border: 1px solid $primary;
  color: $primary;
}
