@import 'variables';
@import 'mixins';

:host {
  display: flex;
}

.app-logo {
  transition: .5s;
  display: flex;
  border: 0;
  background-color: transparent;
  &__button {
    &:focus {
      outline: $outline-1;
    }
    cursor: pointer;
  }
}

.xs { width: rem(35px); height: rem(35px); }
.sm { width: rem(50px); height: rem(50px); }
.md { width: rem(75px); height: rem(75px); }
.lg { width: rem(150px); height: rem(150px); }
