@import 'variables';
@import 'mixins';

:host {
  display: flex;
}

.app-logo {
  transition: .5s;
  display: flex;
  border: 0;
  background-color: transparent;
  &__button {
    &:focus {
      outline: $outline-1;
    }
    cursor: pointer;
  }
}

.xs { width: rem(25px); height: rem(25px); }
.sm { width: rem(40px); height: rem(40px); }
.md { width: rem(75px); height: rem(75px); }
.lg { width: rem(150px); height: rem(150px); }
