@import 'variables';
@import 'mixins';

@keyframes appear-animation {
  0% {
    opacity: 0;
    transform: translateX(rem(-20px));
    filter: blur(1px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

.product-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $thirdly;
  overflow: hidden;
}

.product-content {
  width: 100%;
  max-width: $width-2;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  @include md {
    grid-template-columns: repeat(2, 1fr);
  }
  @include lg {
    grid-template-columns: repeat(3, 1fr);
  }
}

.product-tile {
  height: 100%;
  padding: rem(80px) rem(45px);
  background: linear-gradient(28.58deg, #059669 0%, #10B981 100%);
  animation: .3s ease-out 0s 1 appear-animation;
  cursor: pointer;
  &:hover {
    .product-tile__image {
      transform: scale(1.05);
    }
  }

  &__title {
    padding-bottom: rem(24px);
    font-family: $playfair;
    font-size: rem(36px);
    font-weight: 700;
    letter-spacing: rem(1px);
    line-height: rem(54px);
    border-bottom: rem(2px) dashed $thirdly;
    color: $thirdly;
  }

  &__price {
    margin: 1rem 0;
    padding: 0 rem(10px);
    font-size: rem(18px);
    line-height: 140%;
    font-weight: 500;
    border-radius: rem(20px);
    display: inline-flex;
    color: $white;
    background-color: $secondary;
  }

  &__image {
    width: 100%;
    height: rem(400px);
    margin-bottom: rem(32px);
    box-shadow: -10px 10px 0px 0px #067856;
    transition: $transition-1;
    @include bg-img();
  }
}
