@import 'variables';
@import 'mixins';

.checkbox {
  --borderWidth: 0.18rem;
  --transition: 100ms;
  position: relative;

  &.has-error {
    input[type=checkbox] {
      border: rem(1px) solid $warn;
      &:before, &:after {
        background: $warn;
      }
    }
    .label {
      color: $warn;
    }
    .error {
      opacity: 1;
    }
  }

  input[type=checkbox] {
    font-size: rem(52px);
    border: rem(1px) solid $primary;
    width: rem(22px);
    height: rem(22px);
    vertical-align: middle;
    background: transparent;
    display: inline-block;
    position: relative;
    appearance: none;
    -webkit-appearance: none;

    &:before, &:after {
      content: '';
      position: absolute;
      left: 10%;
      top: 50%;
      background: $primary;
      width: calc(var(--borderWidth) * 2);
      height: var(--borderWidth);
      transform-origin: left center;
    }

    &:before {
      transform: rotate(45deg) translate(calc(var(--borderWidth) / -2), calc(var(--borderWidth) / -2)) scaleX(0);
      transition: transform var(--transition) ease-in var(--transition);
    }

    &:after {
      width: calc(var(--borderWidth) * 5);
      transform: rotate(-45deg) translateY(calc(var(--borderWidth) * 2)) scaleX(0);
      transform-origin: left center;
      transition: transform var(--transition) ease-in;
    }

    &[type=checkbox]:checked:before {
      transform: rotate(45deg) translate(calc(var(--borderWidth) / -2), calc(var(--borderWidth) / -2)) scaleX(1);
      transition: transform var(--transition) ease-in;
    }

    &[type=checkbox]:checked:after {
      width: calc(var(--borderWidth) * 5);
      transform: rotate(-45deg) translateY(calc(var(--borderWidth) * 2)) scaleX(1);
      transition: transform var(--transition) ease-out var(--transition);
    }

    &[type=checkbox]:focus {
      outline: calc(var(--borderWidth) / 2) dotted rgba(0, 0, 0, 0.25);
    }
  }
}

.label {
  margin-left: rem(6px);
  font-size: rem(14px);
  color: $primary;

  &.has-error {
    color: $warn;
  }
}

.error {
  width: 100%;
  position: absolute; bottom: rem(-15px);
  opacity: 0;
}
