<form [formGroup]="remindForm" class="app-remind">
  <h1 class="app-remind__title">{{ 'auth.remind' | translate }}</h1>
  <app-input controlName="email" label="{{ 'auth.email' | translate | titlecase }}" plh="{{ 'auth.enter' | translate:{x: 'auth.email' | translate} }}" [type]="INPUT_TYPES.EMAIL"></app-input>

  <div class="mt-4 d-flex justify-content-center">
    <app-primary-button [disabled]="!remindForm.valid" title="{{ 'auth.submit' | translate }}"></app-primary-button>
  </div>

  <div class="my-4 d-flex justify-content-between">
    <app-link-button title="{{ 'auth.login' | translate }}" url="/auth/login" [backButton]="true" class="mx-1"></app-link-button>
    <app-link-button title="{{ 'auth.register' | translate }}" url="/auth/register" class="mx-1"></app-link-button>
  </div>
</form>
