<form [formGroup]="remindForm" class="app-remind">
  <h1 class="app-remind__title">{{ 'auth.remind' | translate }}</h1>
  <app-input controlName="email" label="{{ 'auth.remind' | translate | titlecase }}" plh="{{ 'auth.enter' | translate:{x: 'auth.remind' | translate} }}"></app-input>

  <div class="mt-4 d-flex justify-content-center">
    <app-button title="{{ 'auth.submit' | translate }}" type="primary"></app-button>
  </div>

  <div class="my-4 d-flex justify-content-between">
    <app-button title="{{ 'auth.login' | translate }}" url="/auth/login" type="link" class="mx-1"></app-button>
    <app-button title="{{ 'auth.register' | translate }}" url="/auth/register" type="link" class="mx-1"></app-button>
  </div>
</form>
