<button
  (mouseenter)="onShowMenu()"
  (mouseleave)="onHideMenu()"
  (keyup.enter)="onToggleMenu()"
  clickOutside
  (clickOutside)="onHideMenu()"
  tabindex="0"
  class="header-user-menu focus-outline"
>
  <ng-content></ng-content>

  <ul
    [ngClass]="{'header-user-menu__content--visible': isMenuVisible$ | async}"
    class="header-user-menu__content"
  >
    <li *ngFor="let item of items">
      <a
        (keyup.enter)="onClickMenuItem(item, $event)"
        (click)="onClickMenuItem(item, $event)"
        [tabindex]="(isMenuVisible$ | async) ? 0 : -1"
        class="header-user-menu__link focus-outline"
      >{{item}}</a>
    </li>
  </ul>
</button>
