@import 'variables';

.pre-booking {
  max-width: 600px;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $primary;
    padding: 0 1rem;
  }
}

.pre-booking-content {
  margin-top: 2rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;

  &__text {
    color: $secondary;
    line-height: 1.3rem;
  }

  &__icon {
    margin-left: rem(4px);
    display: inline-flex;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
  }
}

.file-picker {
  min-width: 160px;
  max-width: 200px;
  height: 57px;
  padding: rem(18px) rem(12px);
  border: 1px solid $primary;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $primary;
  background-color: transparent;
  cursor: pointer;

  &__icon {
    margin: 0 rem(8px);
  }

  &:disabled {
    background: $light-grey;
  }

  &:hover:not([disabled]) {
    opacity: .8;
  }
}

.payment-options {
  display: flex;
  flex-direction: column;
  gap: rem(12px);
  margin-bottom: rem(20px);

  &__title {
    color: $primary;
    font-size: rem(18px);
  }
}

.payment-data {
  line-height: 1.3rem;
  color: $secondary;
  display: flex;

  &__bank-logo {
    max-height: rem(12px);
    margin: 0 0.5rem;
  }

  &__card {
    margin-left: 2rem;
    margin-top: rem(4px);
    font-weight: bold;
  }
}
