@import 'variables';

.pre-booking {
  max-width: 600px;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $primary;
    padding: 0 1rem;
  }
}

.pre-booking-content {
  margin-top: 2rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;

  &__text {
    color: $secondary;
  }

  &__icon {
    margin-left: 0.5rem;
    display: inline-flex;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
  }
}
