@import 'mixins';
@import 'variables';

:host {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $white;
  position: relative;
}

.app-footer {
  width: 100%;
  min-height: 30vh;
  max-width: $width-2;
  padding: 1rem 1rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &__copyright {
    position: absolute; bottom: 0;
    width: 100%;
    font-size: rem(12px);
    display: flex;
    color: $secondary;
  }

  &__promos {
    margin-bottom: 1rem;
    color: $secondary;
  }

  @include md {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.item {
  display: flex;
  align-items: flex-end;

  &--title {
    margin-bottom: 1rem;
    font-weight: bold;
    color: $secondary;
  }

  &__link {
    padding: rem(6px) 0;
    display: flex;
    color: $primary;
    transition: $transition-1;
    cursor: pointer;
    &:hover {
      opacity: .7;
    }
  }

  &__text {
    padding: rem(6px) 0;
    display: flex;
    color: $primary;
  }
}
