<form [formGroup]="registerForm" class="app-register">
  <h1 class="app-register__title">{{ 'auth.register' | translate }}</h1>

  <app-input controlName="firstname" label="{{ 'auth.firstName' | translate | titlecase }}" plh="{{ 'auth.enter' | translate:{x: 'auth.firstName' | translate} }}"></app-input>
  <app-input controlName="lastname" label="{{ 'auth.lastName' | translate | titlecase }}" plh="{{ 'auth.enter' | translate:{x: 'auth.lastName' | translate} }}"></app-input>
  <app-date-picker controlName="birthday" label="{{ 'auth.dateOfBirth' | translate | titlecase }}" plh="{{ 'auth.enter' | translate:{x: 'auth.dateOfBirth' | translate} }}"></app-date-picker>
  <app-input controlName="email" label="{{ 'auth.email' | translate | titlecase }}" plh="{{ 'auth.enter' | translate:{x: 'auth.email' | translate} }}" [type]="INPUT_TYPES.EMAIL"></app-input>
  <app-input controlName="phone" label="{{ 'auth.phoneNumber' | translate | titlecase }}" plh="{{ 'auth.enter' | translate:{x: 'auth.phoneNumber' | translate} }}" [type]="INPUT_TYPES.PHONE"></app-input>
  <app-input controlName="password" label="{{ 'auth.password' | translate | titlecase }}" plh="{{ 'auth.enter' | translate:{x: 'auth.password' | translate} }}" [type]="INPUT_TYPES.PASSWORD"></app-input>
  <app-input controlName="confirmPassword" label="{{ 'auth.confirmPassword' | translate | titlecase }}" plh="{{ 'auth.enter' | translate:{x: 'auth.password' | translate} }}" [type]="INPUT_TYPES.PASSWORD"></app-input>

  <div class="mt-4 d-flex justify-content-center">
    <app-button (buttonClick)="onRegister()" title="{{ 'auth.submit' | translate }}" type="primary"></app-button>
  </div>

  <div class="my-3 d-flex justify-content-between">
    <app-button title="{{ 'auth.back' | translate }}" url="/" type="link-backward" class="mx-1"></app-button>
    <app-button title="{{ 'auth.login' | translate }}" url="/auth/login" type="link-forward" class="mx-1"></app-button>
  </div>
</form>
