<div *ngIf="!isEmailConfirmationRequired" class="app-register">
  <h1 class="auth-page__title">{{'auth.register.title' | translate }}</h1>

  <form [formGroup]="registerForm">
    <app-input controlName="firstname" label="{{'auth.first-name' | translate | titlecase }}" plh="{{'auth.enter' | translate:{x: 'auth.first-name' | translate} }}"></app-input>
    <app-input controlName="lastname" label="{{'auth.lastName' | translate | titlecase }}" plh="{{'auth.enter' | translate:{x: 'auth.lastName' | translate} }}"></app-input>
    <app-date-picker controlName="birthday" label="{{'auth.dateOfBirth' | translate | titlecase }}" plh="{{'auth.enter' | translate:{x: 'auth.dateOfBirth' | translate} }}"></app-date-picker>
    <app-input controlName="email" label="{{'auth.email' | translate | titlecase }}" plh="{{'auth.enter' | translate:{x: 'auth.email' | translate} }}" [type]="INPUT_TYPES.EMAIL"></app-input>
    <app-input controlName="phone" label="{{'auth.phone-number' | translate | titlecase }}" plh="{{'auth.enter' | translate:{x: 'auth.phone-number' | translate} }}" [type]="INPUT_TYPES.PHONE"></app-input>
    <app-input controlName="password" label="{{'auth.password' | translate | titlecase }}" plh="{{'auth.enter' | translate:{x: 'auth.password' | translate} }}" [type]="INPUT_TYPES.PASSWORD"></app-input>
    <app-input controlName="confirmPassword" label="{{'auth.confirmPassword' | translate | titlecase }}" plh="{{'auth.enter' | translate:{x: 'auth.password' | translate} }}" [type]="INPUT_TYPES.PASSWORD"></app-input>
    <app-checkbox controlName="hasEmailConsent" label="{{'auth.hasEmailConsent' | translate }}" class="d-flex my-4"></app-checkbox>
    <app-checkbox controlName="hasConditionsConsent" class="d-flex mb-4">
      <span>{{'auth.hasConditionsConsent' | translate }}</span>
      <a class="app-register__conditions" (click)="onShowConditions($event)">{{'auth.conditions' | translate }}</a>
    </app-checkbox>
  </form>

  <div class="mt-4 d-flex justify-content-center">
    <app-primary-button
      (buttonClick)="onRegister($event)"
      [isLoading]="isLoading"
      [disabled]="!registerForm.valid"
      title="{{'auth.submit' | translate}}"
    ></app-primary-button>
  </div>

  <div class="my-3 d-flex justify-content-between">
    <app-link-button
      [backButton]="true"
      title="{{'auth.back' | translate}}"
      url="/"
      class="mx-1"
    ></app-link-button>
    <app-link-button
      title="{{'auth.login.title' | translate}}"
      url="/auth/login"
      class="mx-1"
    ></app-link-button>
  </div>
</div>

<div *ngIf="isEmailConfirmationRequired" class="d-flex flex-column align-items-center">
  <h1 class="auth-page__title">
    <span>{{'auth.register.thanks' | translate}}</span>
    <span>{{'auth.register.after' | translate}}</span>
  </h1>
  <app-icon name="email" size="xxl" alt="Email icon"></app-icon>
</div>
