@import 'variables';
@import 'mixins';

$text-color: $primary;
$warn-color: $warn;
$accent-color: $primary;
$border-radius: 0;
$transition: .3s;
$font-size: 1rem;

:host {
  margin: 2rem 0 1rem;
  display: flex;
}

.input {
  width: 100%;
  position: relative;
  text-align: left;
  
  &--active {
    .input__label { font-size: rem(12px); transform: translateY(-(rem(15px))); }
    .input__field::placeholder { color: $text-color; }
  }
  
  &--invalid {
    .input__field { border-color: $warn-color; }
    .input__label { color: $warn-color; }
    .input__error { opacity: 1; }
  }
  
  &__field {
    width: 100%;
    padding: rem(18px) rem(12px);
    border: rem(1px) solid;
    font-size: $font-size;
    border-color: $accent-color;
    border-radius: $border-radius;
    font-family: inherit;
    display: block;
    color: transparent;
    background-color: transparent;
    transition: border-color $transition;
    outline: 0;

    &::placeholder {
      color: transparent;
      transition: $transition;
    }

    &::-webkit-calendar-picker-indicator {
      background: none;
      background-image: url('/assets/images/vector/calendar.svg');
      cursor: pointer;
    }

    &:focus {
      color: $primary;
      border-width: rem(1px);
      ~ label {
        transform: translateY(rem(-15px));
        font-size: rem(12px);
      }
      &::placeholder {
        color: $text-color;
      }
    }

    &--has-value {
      color: $primary;
    }
  }
  
  &__error {
    position: absolute; bottom: -(rem(15px));
    width: 100%;
    transition: $transition;
    opacity: 0;
    &--visible {
      opacity: 1;
    }
  }
  
  &__label {
    position: absolute; left: rem(12px); top: 0;
    transform: translatey(100%);
    font-size: $font-size;
    display: block;
    transition: $transition;
    color: $text-color;
  }

  &__asterisk {
    padding-left: rem(3px);
    color: $warn-color;
  }
  
  &__clear-button {
    position: absolute; right: rem(40px); top: 50%;
    width: rem(20px);
    height: rem(20px);
    transform: translateY(-50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/assets/images/vector/x-button.svg');
    opacity: 0;
    cursor: pointer;
    &:hover {
      background-image: url('/assets/images/vector/x-button-red.svg');
    }
    &--visible {
      opacity: 1;
    }
  }
}
