<div
  [ngClass]="{
    'input--invalid': (control.dirty || control.touched) && control.errors !== null,
    'input--active': !!control.value
  }"
  class="input" 
>

  <input
    type="date"
    [id]="controlName"
    [attr.disabled]="control.disabled || null"
    [formControl]="control"
    [placeholder]="plh"
    [ngClass]="{'input__field--has-value': !!control.value}"
    class="input__field"
  >

  <label [for]="controlName" class="input__label">
    <span>{{ label }}</span>
    <span *ngIf="control | controlRequired" class="input__asterisk">*</span>
  </label>

  <div [ngClass]="{'input__error--visible': control.dirty || control.touched}" class="input__error">
    <app-form-error [errors]="control.errors"></app-form-error>
  </div>

  <i *ngIf="control.value" (click)="onClearDate()" class="input__icon input__icon--clear"></i>
</div>
