<div class="input" [ngClass]="{ 'input--invalid': (control.dirty || control.touched) && control.errors !== null, 'input--active': (isCalendarVisible$ | async) || control.value }">
  <label [for]="controlName" class="input__label">
    <span>{{ label }}</span>
    <span *ngIf="control | controlRequired" class="input__asterisk">*</span>
  </label>

  <input
    type="date"
    [id]="controlName"
    [attr.disabled]="control.disabled || null"
    (keyup.enter)="onToggleCalendar()"
    (click)="onToggleCalendar()"
    (blur)="onBlur()"
    [placeholder]="plh"
    class="input__field"
  >

  <div [ngClass]="{'input__error--visible': control.dirty || control.touched}" class="input__error">
    <app-form-error [errors]="control.errors"></app-form-error>
  </div>

  <i *ngIf="control.value" (click)="onClearDate()" class="input__icon input__icon--clear"></i>
</div>
