<form [formGroup]="updateForm" class="app-update">
  <h1 class="app-update__title">{{ 'auth.change' | translate }}</h1>

  <app-input controlName="password" label="{{ 'auth.password' | translate | titlecase }}" plh="{{ 'auth.enter' | translate:{x: 'auth.password' | translate} }}" [type]="INPUT_TYPES.PASSWORD"></app-input>
  <app-input controlName="confirmPassword" label="{{ 'auth.confirmPassword' | translate | titlecase }}" plh="{{ 'auth.enter' | translate:{x: 'auth.password' | translate} }}" [type]="INPUT_TYPES.PASSWORD"></app-input>

  <div class="mt-4 d-flex justify-content-center">
    <app-button title="{{ 'auth.submit' | translate }}" type="primary"></app-button>
  </div>

  <div class="my-3 d-flex justify-content-center">
    <app-button title="{{ 'auth.login' | translate }}" url="/auth/login" type="link" class="mx-1"></app-button>
  </div>
</form>
