<!-- <div class="input" [ngClass]="{'input--invalid': control.errors && control.dirty}">

  <input *ngIf="type !== 'textarea'" [attr.disabled]="control.disabled || null" class="input__field" [ngClass]="{'input__field--has-value': !!(control.valueChanges | async)}" [id]="id" [placeholder]="placeholder" [type]="type" [formControl]="control">
  <textarea *ngIf="type === 'textarea'" class="input__text-area" [ngClass]="{'input__field--has-value': !!(control.valueChanges | async)}" [id]="id" name="textarea" [placeholder]="placeholder" rows="4" cols="50" [formControl]="control"></textarea>

  <label [for]="id" class="input__label">{{ label }}</label>

  <a *ngIf="hasSubmitButton" (click)="inputSubmit.emit()" class="input__button"></a>

  <p class="input__error">{{ control.errors | firstError:errorsMap }}</p>

</div> -->
