@import 'variables';

@mixin title {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $primary;
}

.auth-page {
  width: 100vw;
  height: 100vh;
  background-color: $thirdly;

  &__brand {
    position: fixed; top: 0; left: 0;
    width: 100%;
    padding: 1rem;
    z-index: 1;
  }

  &__title {
    @include title;
    padding: 0 1rem;
  }

  &__subtitle {
    @include title;
    font-size: rem(14px);
    margin: rem(4px) 0;
  }

  &__content {
    width: 100%;
    max-width: rem(340px);
    padding: 1rem;
  }
}
