@import 'mixins';

.xs { width: rem(5px); height: rem(5px); }
.sm { width: rem(12px); height: rem(12px); }
.md { width: rem(15px); height: rem(15px); }
.lg { width: rem(20px); height: rem(20px); }
.xl { width: rem(25px); height: rem(25px); }
