@import 'variables';
@import 'mixins';

$width-content: 28.125rem;

.bookings {
  width: 100%;
  height: 100vh;
  padding: 5rem 1rem 2rem 1rem;
  background-color: $thirdly;
  display: flex;
  flex-direction: column;

  &__content {
    border-bottom: 1px solid $primary;
    width: 100%;
    max-width: $width-content;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    overflow-y: auto;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: $width-content;
  }

  &__title {
    display: flex;
    align-items: center;
    color: $secondary;
  }
}

.routing-button {
  display: flex;
  align-items: center;
  transition: $transition-1;
  cursor: pointer;

  &__title {
    font-size: 18px;
    color: $secondary;
    margin-right: rem(6px);
  }

  &__icon {
    transition: $transition-1;
  }

  &:hover {
    .routing-button__icon {
      transform: translateX(3px);
    }
  }
}

.cart-item {
  height: 100px;
  padding: 0.5rem;
  gap: 1rem;
  border: 1px solid $primary;
  display: flex;
  align-items: center;
  transition: .3s;
  cursor: pointer;

  &:hover {
    background-color: $white;

    .cart-item__image {
      transform: scale(1.05);
    }
  }

  &__image {
    height: 82px;
    width: auto;
    box-shadow: $b-shadow-2;
    transition: .3s;
  }

  &__desc {
    font-size: 14px;
    color: $primary;
  }

  &__details {
    gap: 0.25rem;
    min-width: 200px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
  }

  &__delimiter {
    height: 100%;
    width: 1px;
    background-color: $primary;
  }
}
