@import 'variables';

// todo move to a shared class, because it duplicates auth-page
.unsubscirbe-page {
  width: 100vw;
  height: 100vh;
  background-color: $thirdly;

  &__brand {
    position: fixed; top: 0; left: 0;
    width: 100%;
    padding: 1rem;
    z-index: 1;
  }

  &__title {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $primary;
  }

  &__content {
    width: 100%;
    max-width: rem(340px);
    padding: 1rem;
  }
}