@import 'variables';

:host {
  display: flex;
  margin: 15px 0;
}

.input {
  width: 100%;
  position: relative;
  text-align: left;

  &--invalid {
    .input__field, .input__text-area { border-color: $warn !important; }
    .input__label { color: $warn !important; }
    .input__error { opacity: 1; }
  }

  &__field, &__text-area {
    width: 100%;
    padding: 8px 45px 8px 8px;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid;
    border-color: $primary;
    font-family: inherit;
    display: block;
    color: $primary;
    background-color: transparent;
    transition: border-color .2s;
    outline: 0;
    &:required,
    &:invalid {
      box-shadow: none;
    }
    &::placeholder {
      color: transparent;
      transition: .3s;
    }
    &:placeholder-shown ~ label {
      font-size: 16px;
      transform: translateY(10px);
      padding: 0px 0px;
      cursor: text;
    }
    &:focus, &--has-value {
      border-width: 2px;
      border-color: $primary;
      ~ label {
        transform: translateY(-10px);
        color: $primary;
        font-size: 12px;
      }
      &::placeholder {
        color: $primary;
      }
    }
  }

  &__text-area {
    resize: none;
  }

  &__label {
    position: absolute; left: 8px; top: 0;
    transform: translateY(-10px);
    font-size: 12px;
    display: block;
    transition: .3s;
    color: $primary;
  }

  &__error {
    width: 100%;
    position: absolute; bottom: -15px;
    padding: 5px 5px 0 12px;
    font-size: 10px;
    letter-spacing: .3px;
    text-overflow: ellipsis;
    color: $warn;
    opacity: 0;
    transition: opacity .3s;
  }
  
}
