@import 'variables';

$border-color: $primary;
$text-color: $primary;
$warn-color: $warn;
$border-radius: 0;

:host {
  display: flex;
  margin: 2rem 0 1rem;
}

.input {
  width: 100%;
  position: relative;
  text-align: left;

  &--standalone {
    .input__field, .input__text-area { border: 0 !important; border-bottom: 1px solid $border-color !important; border-radius: 0 !important; }
  }

  &--invalid {
    .input__field, .input__text-area { border-color: $warn-color !important; }
    .input__label { color: $warn-color !important; }
    .input__error { opacity: 1; }
  }

  &__field, &__text-area {
    width: 100%;
    padding: rem(18px) rem(45px) rem(18px) rem(12px);
    font-size: 1rem;
    border: 0;
    border: rem(1px) solid;
    border-color: $border-color;
    border-radius: $border-radius;
    font-family: inherit;
    display: block;
    color: $text-color;
    background-color: transparent;
    transition: border-color .2s;
    outline: 0;

    &:required,
    &:invalid {
      box-shadow: none;
    }

    &::placeholder {
      color: transparent;
      transition: .3s;
    }

    &:focus, &--has-value {
      border-width: 1px;
      border-color: $border-color;

      ~ label {
        transform: translateY(rem(-15px));
        color: $border-color;
        font-size: 12px;
      }

      &::placeholder {
        color: $text-color;
      }
    }
  }

  &__text-area {
    resize: vertical;
  }

  &__label {
    position: absolute; left: rem(12px); top: 0;
    transform: translateY(19px);
    font-size: 16px;
    display: block;
    transition: .3s;
    color: $text-color;
  }

  &__asterisk {
    padding-left: rem(3px);
    color: $warn-color;
  }

  &__error {
    width: 100%;
    position: absolute; bottom: rem(-15px);
    opacity: 0;
  }

  &__button {
    @include bg-img('/assets/images/vector/arrow-right.svg', $bg-size: contain);
    filter: invert(55%) sepia(11%) saturate(3687%) hue-rotate(113deg) brightness(99%) contrast(97%);
    width: rem(25px);
    height: rem(20px);
    position: absolute; top: 50%; right: rem(10px);
    transform: translateY(-50%) scale(1);
    transition: $transition-1;
    display: flex;
    cursor: pointer;

    &:hover:not(.input__button--has-error) {
      transform: translateY(-50%) scale(1.3);
    }

    &--has-error {
      filter: invert(96%) sepia(62%) saturate(0%) hue-rotate(136deg) brightness(89%) contrast(84%);
    }
  }
}
