@import 'variables';
@import 'mixins';

:host {
  display: flex;
  margin: rem(8px) 0 rem(16px);
}

.input {
  width: 100%;
  position: relative;
  text-align: left;

  &--invalid {
    .input__field, .input__text-area { border-color: $warn !important; }
    .input__label { color: $warn !important; }
    .input__error { opacity: 1; }
  }

  &__field, &__text-area {
    width: 100%;
    padding: rem(8px) rem(45px) rem(8px) rem(8px);
    font-size: 1rem;
    border: 0;
    border-bottom: rem(1px) solid;
    border-color: $primary;
    font-family: inherit;
    display: block;
    color: $primary;
    background-color: transparent;
    transition: border-color $transition-1;
    outline: 0;
    &:required,
    &:invalid {
      box-shadow: none;
    }
    &::placeholder {
      color: transparent;
      transition: $transition-1;
    }
    &:placeholder-shown ~ label {
      font-size: 1rem;
      transform: translateY(rem(10px));
      padding: 0px 0px;
      cursor: text;
    }
    &:focus, &--has-value {
      border-width: rem(2px);
      border-color: $primary;
      ~ label {
        transform: translateY(rem(-10px));
        color: $primary;
        font-size: rem(12px);
      }
      &::placeholder {
        color: $primary;
      }
    }
  }

  &__text-area {
    resize: none;
  }

  &__label {
    position: absolute; left: rem(8px); top: 0;
    transform: translateY(-rem(10px));
    font-size: rem(12px);
    display: block;
    transition: $transition-1;
    color: $primary;
  }

  &__error {
    width: 100%;
    position: absolute; bottom: -rem(16px);
    padding: rem(5px) rem(5px) 0 rem(12px);
    font-size: rem(10px);
    letter-spacing: rem(0.3px);
    text-overflow: ellipsis;
    color: $warn;
    opacity: 0;
    transition: opacity $transition-1;
  }
  
}
