<section class="landing">

  <div class="landing__content">
    <h1 class="landing-title">
      <p class="landing-title__text">Never Forget</p>
      <p class="landing-title__text">How <span class="landing-title__text--accent">Beautiful</span></p>
      <p class="landing-title__text">You are</p>
    </h1>
    <div class="d-flex flex-column flex-md-row mt-5">
      <app-button type="primary" title="{{ 'main.landing.register' | translate }}" class="landing__button"></app-button>
      <app-button type="secondary" title="{{ 'main.landing.pricing' | translate }}" class="landing__button"></app-button>
    </div>
    <div class="landing-countdown">
      <header class="landing-countdown__header">
        <p class="landing-countdown__title">Grand Opening</p>
        <p>All items are 25% Discount for New Member</p>
      </header>
      <app-ad-countdown class="landing-countdown__timer"></app-ad-countdown>
    </div>
  </div>

  <div class="landing__left"></div>

  <div class="landing__video">
    <video #videoElem loop muted autoplay (canplay)="videoElem.play()" (loadedmetadata)="videoElem.muted = true">
      <source src="/assets/videos/landing-video.mp4" type="video/mp4">
    </video>
  </div>

</section>
