<section class="landing">

  <div class="landing__content">
    <h1 class="landing-title">
      <p class="landing-title__text">Never Forget</p>
      <p class="landing-title__text">How <span class="landing-title__text--accent">Beautiful</span></p>
      <p class="landing-title__text">You are</p>
    </h1>
    <div class="d-flex">
      <app-button type="primary" title="{{ 'main.landing.register' | translate }}" class="landing__button"></app-button>
      <app-button type="secondary" title="{{ 'main.landing.pricing' | translate }}" class="landing__button"></app-button>
    </div>
  </div>

  <div class="landing__left"></div>

  <app-video class="landing__right"></app-video>

</section>
