<div tabindex="0" [attr.aria-label]="('countdown.title' | translate) + ' ' + targetTimeString" class="countdown-timer">
  <app-spinner *ngIf="isSpinnerVisible" size="sm" class="countdown-timer__spinner"></app-spinner>

  <div [ngClass]="{'countdown-timer__wrapper--visible': !isSpinnerVisible}" class="countdown-timer__wrapper">
    <div>
      <p #daysEl class="times"></p>
      <p class="desc">{{ 'countdown.days' | translate }}</p>
    </div>
    <div class="delimiter">:</div>
    <div>
      <p #hoursEl class="times"></p>
      <p class="desc">{{ 'countdown.hours' | translate }}</p>
    </div>
    <div class="delimiter">:</div>
    <div>
      <p #minutesEl class="times"></p>
      <p class="desc">{{ 'countdown.minutes' | translate }}</p>
    </div>
    <div class="delimiter">:</div>
    <div>
      <p #secondsEl class="times"></p>
      <p class="desc">{{ 'countdown.seconds' | translate }}</p>
    </div>
  </div>
</div>
