@import 'variables';
@import 'mixins/breakpoints';

.countdown-timer {
  width: 300px;
  min-height: 82px;
  padding: 8px 16px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  color: $white;
  background: $bg-primary;
  box-shadow: $b-shadow-1;
  &:focus {
    outline: 1px solid $white;
  }
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  @include lg {
    width: 420px;
    min-height: 110px;
    padding: 18px 42px;
  }
}

.desc {
  font-weight: 600;
  font-size: 12px;
  padding-left: 2px;
}

.times {
  width: 50px;
  font-weight: 600;
  font-size: 40px;
  display: flex;
  justify-content: flex-start;
  @include lg {
    font-size: 48px;
  }
}

.delimiter {
  font-weight: 600;
  font-size: 40px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
  transform: translateY(-5px);
  @include lg {
    font-size: 48px;
    margin: 0 4px;
  }
}
