@import 'variables';
@import 'mixins';

.countdown-timer {
  width: rem(300px);
  min-height: rem(82px);
  padding: rem(8px) rem(16px);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  color: $white;
  background: $bg-primary;
  box-shadow: $b-shadow-1;

  &:focus {
    outline: $outline-2;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__spinner {
    position: absolute; left: 0;
    width: 100%;
    height: 100%;
    background: $bg-primary;
    align-items: center;
    z-index: 1;
  }

  @include lg {
    width: rem(420px);
    min-height: rem(110px);
    padding: rem(18px) rem(42px);
  }
}

.desc {
  font-weight: 600;
  font-size: rem(12px);
  padding-left: rem(2px);
}

.times {
  width: rem(50px);
  font-weight: 600;
  font-size: rem(40px);
  display: flex;
  justify-content: flex-start;
  @include lg {
    font-size: rem(48px);
  }
}

.delimiter {
  font-weight: 600;
  font-size: rem(40px);
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
  transform: translateY(-5px);
  @include lg {
    font-size: rem(48px);
    margin: 0 rem(4px);
  }
}
