<div *ngIf="!isReset" class="auth-page__content">
  <h1 class="auth-page__title">{{'auth.reset.title' | translate}}</h1>

  <form [formGroup]="resetForm">
    <app-input
      controlName="password"
      label="{{'auth.password' | translate | titlecase}}"
      plh="{{'auth.enter' | translate:{x: 'auth.password' | translate} }}"
      [type]="INPUT_TYPES.PASSWORD"
    ></app-input>

    <app-input
      controlName="confirmPassword"
      label="{{'auth.confirmPassword' | translate | titlecase}}"
      plh="{{'auth.enter' | translate:{x: 'auth.password' | translate} }}"
      [type]="INPUT_TYPES.PASSWORD"
    ></app-input>
  </form>

  <div class="mt-4 d-flex justify-content-center">
    <app-primary-button
      (buttonClick)="onReset($event)"
      [disabled]="!resetForm.valid"
      [isLoading]="isLoading"
      title="{{'auth.submit' | translate}}"
    ></app-primary-button>
  </div>

  <div class="my-3 d-flex justify-content-center">
    <app-link-button
      title="{{'auth.login.title' | translate}}"
      url="/auth/login"
      class="mx-1"
    ></app-link-button>
  </div>
</div>

<div *ngIf="isReset" class="d-flex flex-column align-items-center">
  <app-icon size="xxl" name="success" class="mb-3"></app-icon>

  <h1 class="auth-page__title">
    <span>{{'auth.reset.after' | translate }}</span>
  </h1>

  <div class="my-3 d-flex justify-content-center">
    <app-link-button
      title="{{'auth.login.title' | translate}}"
      url="/auth/login"
      class="mx-1"
    ></app-link-button>
  </div>
</div>
