<button
  *ngIf="(current$ | async) as currentItem"
  #activateButton
  (click)="onToggleMenu()"
  clickOutside
  (clickOutside)="onCloseMenu()"
  tabindex="0"
  [attr.aria-label]="'language-bar.title' | translate:{'x': currentItem.aria | translate}"
  [ngClass]="{'menu--active': (isOpened$ | async)}"
  class="menu">
    <a id="currentItem" class="menu__current">
      <span>{{ currentItem.title | uppercase }}</span>
    </a>
    <div class="menu__list">
      <a
        *ngFor="let item of listItems$ | async; let index = index;"
        (click)="onItemClick($event, item)"
        (keyup.enter)="onItemClick($event, item)"
        [attr.aria-label]="'language-bar.activate' | translate:{'x': item.aria | translate}"
        tabindex="0"
        class="menu__item"
      >{{ item.title | uppercase }}</a>
    </div>
  </button>
