@import 'variables';

:host {
  width: 100%;
}

@mixin item {
	min-width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	&:focus {
		outline: 1px solid $primary;
	}
}

.menu {
	min-width: 40px;
	height: 40px;
	margin: 0 8px;
	font-size: 16px;
	position: relative;
	background-color: $transparent;
	border: 0;
	&:focus {
		outline: 1px solid $primary;
	}
	&--active {
		.menu__current {
			color: #fff;
			background-color: $primary;
		}
		.menu__current {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
		.menu__list {
			transform: scale(1);
			opacity: 1;
		}
		.menu__item {
			transform: translateY(0);
			opacity: 1;
		}
	}
	&__current {
		@include item;
		border-radius: $b-radius-primary;
    transition: $transition-1;
		color: $primary;
		cursor: pointer;
		&--no-items {
			border-radius: $b-radius-primary;
		}
	}
	&__list {
		position: absolute;
		top: 100%;
		transition: .3s ease;
		transform-origin: 0 0;
		transform: scale(0);
		opacity: 0;
		border-radius: $b-radius-primary;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
		background-color: $primary;
		z-index: 3;
	}
	&__item {
		@include item;
    white-space: nowrap;
		transition: $transition-1;
		overflow: hidden;
  	text-overflow: ellipsis;
    color: $white;
		$delay: 100;
    cursor: pointer;
		&:hover {
			opacity: .5;
		}
		@for $i from 1 through 10 {
			&:nth-child(#{$i}) {
				transition-delay: #{$delay}ms;
				$delay: $delay + 50;
			}
		}
	}
	&__icon {
		width: 20px;
		height: 20px;
		margin: 0 3px;
		display: inline-flex;
		background-position: center;
		background-size: cover;
	}
}
