<button
  *ngIf="(current$ | async) as currentItem"
  (click)="onToggleMenu()"
  clickOutside
  (clickOutside)="onCloseMenu()"
  tabindex="0" 
  [attr.aria-label]="'language-bar.title' | translate"
  [ngClass]="{'menu--active': (isOpened$ | async)}"
  class="menu">
    <a id="currentItem" class="menu__current">
      <span>{{ currentItem.title | uppercase }}</span>
    </a>
    <div class="menu__list">
      <a
        *ngFor="let item of listItems$ | async; let index = index;"
        (click)="onItemClick($event, item)"
        (keyup.enter)="onItemClick($event, item)"
        tabindex="0"
        class="menu__item"
      >{{ item.title | uppercase }}</a>
    </div>
  </button>
