<form [formGroup]="loginForm" class="app-login">
  <h1 class="app-login__title">{{ 'auth.login' | translate }}</h1>
  <app-input controlName="login" label="{{ 'auth.email' | translate | titlecase }}" plh="{{ 'auth.enter' | translate:{x: 'auth.email' | translate} }}"></app-input>
  <app-input controlName="password" label="{{ 'auth.password' | translate | titlecase }}" plh="{{ 'auth.enter' | translate:{x: 'auth.password' | translate} }}" [type]="INPUT_TYPES.PASSWORD"></app-input>

  <div class="mt-4 d-flex justify-content-center">
    <app-primary-button
      (buttonClick)="onLogin($event)"
      [isLoading]="isLoading"
      [disabled]="!loginForm.valid"
      title="{{ 'auth.submit' | translate }}"
    ></app-primary-button>
  </div>

  <div class="my-4 d-flex justify-content-between">
    <app-link-button
      [backButton]="true"
      title="{{'auth.register' | translate}}"
      url="/auth/register"
      class="mx-1"
    ></app-link-button>
    <app-link-button
      title="{{'auth.remind' | translate}}"
      url="/auth/remind"
      class="mx-1"
    ></app-link-button>
  </div>
</form>
