<section class="product">
  <header class="d-flex align-items-center m-3">
    <app-icon [routerLink]="CoreRouteNames.HOME" name="shevron-left" size="xl" class="product__back-button"></app-icon>
    <h2 class="product__title">{{'products.booking.title' | translate}}</h2>
  </header>

  <div *ngIf="(product$ | async) as product" class="product-content">
    <div class="product-content__dates">
      <form [formGroup]="form" class="scroll-container">
        <app-date-picker controlName="startDate" label="{{'products.booking.date' | translate}}"></app-date-picker>

        <div class="scroll-content">
          <ul class="pt-2">
            <li
              (click)="onClickSlot(index, date)"
              *ngFor="let date of product.dates; let index = index;"
              class="booking-slot"
              [ngClass]="{'booking-slot--selected': selectedSlots.has(index)}"
            >
              <p class="mr-3">
                <span>{{date.start | date:'MMMM' | monthTranslate | async | titlecase}}&nbsp;</span>
                <span>{{date.start | date:'dd'}}</span>
              </p>
              <p>
                <span>{{date.start | date:'HH'}}:{{date.start | date:'mm'}}</span>
                <span class="mx-1">-</span>
                <span>{{date.end | date:'HH'}}:{{date.end | date:'mm'}}</span>
              </p>
              <app-icon
                name="check"
                class="booking-slot__check"
                [ngClass]="{'booking-slot__check--selected': selectedSlots.has(index)}"
              ></app-icon>
            </li>
          </ul>
        </div>
      </form>
    </div>

    <div class="selection">

    </div>

    <div class="product-content__info">
      <img src="{{product.product.imgUrl}}" alt="Product image" class="product-image">
      <p class="product-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, aliquam! Pariatur odio distinctio eius explicabo nemo nostrum molestiae ad nam ab officiis voluptatem maxime, porro, atque quibusdam? Velit, assumenda sapiente.</p>
    </div>
  </div>
</section>
