<section class="gifts-section">

  <div class="gifts-content">
    <div class="gifts-info">
      <app-title-tag [title]="'products.gift.tag-title' | translate"></app-title-tag>
      <h2 class="gifts-info__title">{{ 'products.gift.title' | translate }}</h2>
      <p class="gifts-info__desc">{{ 'products.gift.desc' | translate }}</p>
      <div class="d-flex flex-column align-items-center align-items-lg-start">
        <app-gift class="d-flex d-lg-none"></app-gift>
        <app-button type="secondary" title="See details" class="mt-4"></app-button>
      </div>
    </div>
    <app-gift class="d-none d-lg-flex"></app-gift>
  </div>

</section>
