@import 'variables';
@import 'mixins';

.gifts-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  position: relative;

  &:before {
    position: absolute; top: 50%; left: 20%;
    width: 100%;
    height: 60vh;
    display: flex;
    transform: translateY(-50%);
    background: linear-gradient(30.63deg, #059669 26.17%, #10B981 97.06%);
    box-shadow: $b-shadow-2;
    content: '';
  }
}

.gifts-content {
  width: 100%;
  min-height: 50vh;
  max-width: $width-2;
  display: flex;
  flex-direction: column;
  @include md {
    flex-direction: row;
    align-items: center;
  }
}

.gifts-info {
  width: 60%;
  min-height: 70vh;
  transform: translateX(15%);
  padding: rem(76px) rem(73px);
  display: flex;
  flex-direction: column;
  background-color: $thirdly;
  box-shadow: $b-shadow-1;

  &__title {
    font-family: $playfair;
    font-weight: 700;
    font-size: rem(42px);
    margin: rem(20px) 0;
    color: $fourthly;
  }

  &__desc {
    font-family: $worksans;
    font-size: rem(18px);
    font-style: italic;
    color: $fourthly;
  }
}
