<section class="landing">
  <div class="landing__content">
    <app-brand [hasLogo]="false" [isClickable]="false" size="sm" class="mb-3"></app-brand>

    <h1 class="landing-title">
      <p class="landing-title__text">Never Forget</p>
      <p class="landing-title__text">How <span class="landing-title__text--accent">Beautiful</span></p>
      <p class="landing-title__text">You are</p>
    </h1>

    <div class="d-flex flex-column flex-md-row mt-5">
      <app-primary-button *ngIf="!isLoggedIn" title="{{ 'main.landing.register' | translate }}" url="/auth/register" class="landing__button"></app-primary-button>
      <app-secondary-button title="{{ 'main.landing.pricing' | translate }}" (buttonClick)="onPricingClick()" class="landing__button"></app-secondary-button>
    </div>

    <a *ngIf="ad" [routerLink]="ad.link || null" class="landing-countdown">
      <app-icon name="discount" size="xxl" class="landing-countdown__icon"></app-icon>

      <header class="landing-countdown__header">
        <p class="landing-countdown__title">{{ad.title | dynamicTranslate}}</p>
        <p>{{ad.content | dynamicTranslate}}</p>
      </header>

      <app-ad-countdown [targetDate]="ad.endDate" class="landing-countdown__timer"></app-ad-countdown>
    </a>
  </div>

  <div class="landing__left"></div>
</section>
