<section class="landing">

  <div class="landing__content">
    <app-brand [hasLogo]="false" [isClickable]="false" size="sm" class="mb-3"></app-brand>

    <h1 class="landing-title">
      <p class="landing-title__text">Never Forget</p>
      <p class="landing-title__text">How <span class="landing-title__text--accent">Beautiful</span></p>
      <p class="landing-title__text">You are</p>
    </h1>

    <div class="d-flex flex-column flex-md-row mt-5">
      <app-primary-button *ngIf="!(user$ | async)" title="{{ 'main.landing.register' | translate }}" url="/auth" class="landing__button"></app-primary-button>
      <app-secondary-button title="{{ 'main.landing.pricing' | translate }}" (buttonClick)="onPricingClick()" class="landing__button"></app-secondary-button>
    </div>

    <div class="landing-countdown">
      <header class="landing-countdown__header">
        <p class="landing-countdown__title">{{ 'main.landing.countdown' | translate }}</p>
        <p>{{ 'main.landing.countdown-desc' | translate }}</p>
      </header>

      <app-ad-countdown [targetDate]="targetDate" class="landing-countdown__timer"></app-ad-countdown>
    </div>
  </div>

  <div class="landing__left"></div>

</section>
