<div class="app-footer">

  <div class="d-flex">
    <app-logo size="xs"></app-logo>
    <h5 class="brand">
      <span>Tkachuk</span>
      <span class="brand__title">Massage Therapy</span>
    </h5>
  </div>

  <ul class="mx-4 d-flex flex-column">
    <li class="item--title">
      <span>{{ 'footer.about' | translate }}</span>
    </li>
    <li class="item">
      <a class="item__link">{{ 'footer.profile' | translate }}</a>
    </li>
    <li class="item">
      <a class="item__link">{{ 'footer.pricing' | translate }}</a>
    </li>
  </ul>

  <ul class="mx-4 d-flex flex-column">
    <li class="item--title">
      <span>{{ 'footer.about' | translate }}</span>
    </li>
    <li class="item">
      <a class="item__link">{{ 'footer.profile' | translate }}</a>
    </li>
    <li class="item">
      <a class="item__link">{{ 'footer.pricing' | translate }}</a>
    </li>
  </ul>

  <ul class="mx-4 d-flex flex-column">
    <li class="item--title">
      <span>{{ 'footer.about' | translate }}</span>
    </li>
    <li class="item">
      <a class="item__link">{{ 'footer.profile' | translate }}</a>
    </li>
    <li class="item">
      <a class="item__link">{{ 'footer.pricing' | translate }}</a>
    </li>
  </ul>

  <div class="app-footer__copyright">&copy; 2022 {{ 'footer.empovered-by' | translate }}</div>

</div>
