<div class="app-footer">

  <app-brand (brandClick)="onClickBrand()" size="sm" class="d-flex justify-content-center mb-5"></app-brand>

  <div class="d-flex flex-grow-1 flex-column flex-lg-row">

    <div class="d-flex flex-grow-1 flex-column flex-md-row justify-content-center">
      <ul class="mx-4 mb-4 d-flex flex-column align-items-center align-items-md-start">
        <li class="item--title">
          <span>{{ 'footer.about' | translate }}</span>
        </li>
        <li class="item">
          <a class="item__link">{{ 'footer.team' | translate }}</a>
        </li>
        <li class="item">
          <a class="item__link">{{ 'footer.pricing' | translate }}</a>
        </li>
      </ul>
    
      <ul class="mx-4 mb-4 d-flex flex-column align-items-center align-items-md-start">
        <li class="item--title">
          <span>{{ 'footer.articles' | translate }}</span>
        </li>
        <li class="item">
          <a class="item__link">{{ 'footer.blog' | translate }}</a>
        </li>
        <li class="item">
          <a class="item__link">{{ 'footer.promos' | translate }}</a>
        </li>
      </ul>

      <ul class="mx-4 mb-4 d-flex flex-column align-items-center align-items-md-start">
        <li class="item--title">
          <span>{{ 'footer.contact' | translate }}</span>
        </li>
        <li class="item">
          <p class="item__text">
            <app-icon name="phone" size="md" class="d-flex align-items-center mr-1"></app-icon>
            <span>{{ 'footer.mobile-phone' | translate }}</span>
          </p>
        </li>
        <li class="item">
          <p class="item__text">
            <app-icon name="viber" size="md" class="d-flex align-items-center mr-1"></app-icon>
            <span>{{ 'footer.viber-phone' | translate }}</span>
          </p>
        </li>
        <li class="item">
          <p class="item__text">
            <app-icon name="telegram" size="md" class="d-flex align-items-center mr-1"></app-icon>
            <span>{{ 'footer.telegram' | translate }}</span>
          </p>
        </li>
      </ul>
    </div>

    <form [formGroup]="formGroup" class="mt-3 mt-md-0 d-flex flex-column align-items-lg-start align-items-center">
      <h4 class="app-footer__promos">{{ 'footer.get-promos' | translate }}</h4>
      <app-input [controlName]="controlName" label="{{'footer.email-control' | translate}}" color="secondary" plh="{{ 'auth.enter' | translate:{x: 'footer.email-control' | translate | lowercase} }}" [type]="INPUT_TYPES.STANDALONE"></app-input>
    </form>

  </div>

  <div class="app-footer__copyright">&copy; {{ currentYear }} Empovered by ivaspavlo</div>

</div>
