<div class="d-flex flex-column align-items-center">
  <ng-container *ngIf="isEmailConfirmed$ | async">
    <app-icon size="xxl" name="success" class="mb-3"></app-icon>
  
    <h1 class="auth-page__title">
      <span>{{'auth.confirm-email.thanks' | translate}}</span>
      <span>{{'auth.confirm-email.after' | translate}}</span>
    </h1>
  
    <app-primary-button
      url="/auth/login"
      title="{{'auth.login.title' | translate}}"
      class="mt-5"
    ></app-primary-button>
  </ng-container>

  <ng-container *ngIf="!(isEmailConfirmed$ | async)">
    <h1 class="auth-page__title">
      <span>{{'auth.confirm-email.failure' | translate}}</span>
    </h1>
  </ng-container>
</div>
