<section tabindex="0" attr.aria-label="{{ 'products.aria' | translate }}" class="product-section">

  <ul class="product-content">
    <ng-container *ngFor="let product of products; trackBy: trackByProductId; let index = index;">
      <li
        *ngIf="index < displayLimit"
        tabindex="0"
        attr.aria-label="{{ product.title | translate }}"
        class="product-tile"
      >
        <h3 class="product-tile__title">{{ product.title | translate }}</h3>
        <p class="product-tile__price">UAH {{ product.price | number:'2.2' }}</p>
        <div class="product-tile__image" [ngStyle]="{'background-image': 'url(' + product.img + ')'}"></div>
        <app-arrow-link title="{{ 'products.select' | translate }}"></app-arrow-link>
      </li>
    </ng-container>
  </ul>

  <app-primary-button
    (buttonClick)="onShowMore()"
    title="{{ 'products.more-services' | translate }}"
    [disabled]="this.displayLimit > this.products.length"
    class="my-5"
  ></app-primary-button>

</section>
