@import 'variables';
@import 'mixins';

$width-content: 28.125rem;

.profile {
  width: 100%;
  height: 100vh;
  padding: 5rem 1rem 2rem 1rem;
  background-color: $thirdly;
  display: flex;
  flex-direction: column;

  &__title {
    color: $secondary;
  }

  &__back-button {
    margin-right: rem(8px);
    transition: $transition-1;
    cursor: pointer;
    &:hover {
      transform: translateX(-3px);
    }
  }

  &__content {
    border-bottom: 1px solid $primary;
    width: 100%;
    max-width: $width-content;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    overflow-y: auto;
  }
}

.user-data {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.controls {
  padding-top: 1.5rem;
  max-width: $width-content;
  display: flex;
  justify-content: space-between;
}
