@import 'variables';
@import 'mixins';

$width-content: 28.125rem;

.profile {
  width: 100%;
  height: 100vh;
  padding: 5rem 1rem 2rem 1rem;
  background-color: $thirdly;
  display: flex;
  flex-direction: column;

  &__content {
    border-bottom: 1px solid $primary;
    width: 100%;
    max-width: $width-content;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    overflow-y: auto;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: $width-content;
  }

  &__title {
    display: flex;
    align-items: center;
    color: $secondary;
  }
}

.routing-button {
  display: flex;
  align-items: center;
  transition: $transition-1;
  cursor: pointer;

  &__title {
    font-size: 18px;
    color: $secondary;
    margin-right: rem(6px);
  }

  &__icon {
    transition: $transition-1;
  }

  &:hover {
    .routing-button__icon {
      transform: translateX(3px);
    }
  }
}

.user-data {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.controls {
  padding-top: 1.5rem;
  max-width: $width-content;
  display: flex;
  justify-content: space-between;
}
