<div class="profile">
  <header class="d-flex align-items-center">
    <a routerLink="/" class="profile__back-button">
      <app-icon name="shevron-left" size="xl"></app-icon>
    </a>

    <h2 class="profile__title">{{ 'user.profile.title' | translate }}</h2>
  </header>

  <div class="profile__content">
    <form [formGroup]="form" class="user-data">
      <ng-container *ngFor="let fieldName of userFieldsList">
        <ng-container [ngSwitch]="fieldName">
          <div *ngSwitchCase="userFieldName.BIRTHDAY">
            <app-date-picker [controlName]="fieldName" label="{{('auth.' + fieldName) | translate | titlecase }}" plh="{{'auth.enter' | translate:{x: ('auth.' + fieldName) | translate} }}"></app-date-picker>
          </div>

          <div *ngSwitchDefault>
            <app-input [controlName]="fieldName" label="{{('auth.' + fieldName) | translate | titlecase }}" plh="{{'auth.enter' | translate:{x: ('auth.' + fieldName) | translate} }}"></app-input>
          </div>
        </ng-container>
      </ng-container>
    </form>
  </div>

  <div class="controls">
    <app-primary-button
      [disabled]="!isFormChanged"
      [isLoading]="!!(isLoading$ | async)"
      (buttonClick)="onSave()"
      title="{{ 'user.profile.save-edit-button' | translate }}"
    ></app-primary-button>
  </div>
</div>
