<div class="profile">
  <header class="d-flex align-items-center">
    <app-icon (click)="onBack()" name="shevron-left" size="xl" class="profile__back-button"></app-icon>

    <h2 class="profile__title">{{ 'products.booking.title' | translate }}</h2>
  </header>

  <div class="profile-content">

    <ul>
      <li></li>
    </ul>

    <!-- <form>
      <app-input controlName="firstname" label="{{'auth.first-name' | translate | titlecase }}" plh="{{'auth.enter' | translate:{x: 'auth.first-name' | translate} }}"></app-input>
      <app-input controlName="lastname" label="{{'auth.last-name' | translate | titlecase }}" plh="{{'auth.enter' | translate:{x: 'auth.last-name' | translate} }}"></app-input>
      <app-date-picker controlName="birthday" label="{{'auth.dob' | translate | titlecase }}" plh="{{'auth.enter' | translate:{x: 'auth.dob' | translate} }}"></app-date-picker>
      <app-input controlName="email" label="{{'auth.email' | translate | titlecase }}" plh="{{'auth.enter' | translate:{x: 'auth.email' | translate} }}" [type]="INPUT_TYPES.EMAIL"></app-input>
      <app-input controlName="phone" label="{{'auth.phone-number' | translate | titlecase }}" plh="{{'auth.enter' | translate:{x: 'auth.phone-number' | translate} }}" [type]="INPUT_TYPES.PHONE"></app-input>
      <app-input controlName="password" label="{{'auth.password' | translate | titlecase }}" plh="{{'auth.enter' | translate:{x: 'auth.password' | translate} }}" [type]="INPUT_TYPES.PASSWORD"></app-input>
      <app-input controlName="confirmPassword" label="{{'auth.confirm-password' | translate | titlecase }}" plh="{{'auth.enter' | translate:{x: 'auth.password' | translate} }}" [type]="INPUT_TYPES.PASSWORD"></app-input>
      <app-checkbox controlName="hasEmailConsent" label="{{'auth.has-email-consent' | translate }}" class="d-flex my-4"></app-checkbox>
      <app-checkbox controlName="hasConditionsConsent" class="d-flex mb-4">
        <span>{{'auth.has-conditions-consent' | translate }}</span>
        <a class="app-register__conditions" (click)="onShowConditions($event)">{{'auth.conditions' | translate }}</a>
      </app-checkbox>
    </form> -->

  </div>
</div>
