<section class="app-header" [ngClass]="{'app-header--shrinked': isShrinked$ | async}">
  <div class="app-header__desktop-mode">
    <app-logo routerLink="/" [size]="(isShrinked$ | async) ? 'xs' : 'sm'" class="mr-4 align-items-center"></app-logo>

    <ul class="d-flex flex-grow-1 justify-content-start align-items-center">
      <li class="app-header__item" *ngFor="let ctrl of headerControls">
        <a (click)="onClickHeaderControl(ctrl.scrollTarget)" tabindex="0" class="app-header__link">{{ ctrl.uiName | translate | uppercase }}</a>
      </li>

      <li>
        <app-language-bar [items]="languages" (languageChange)="onLanguageChange($event)"></app-language-bar>
      </li>

      <li class="app-header__item app-header__item--delimiter"></li>

      <li class="app-header__item">
        <app-header-user-menu (clickMenuItem)="onClickUserMenu($event)" [items]="isLoggedIn ? authUserControls : notAuthUserControls">
          <a [attr.aria-label]="'header.user-button' | translate" class="app-header__link user-link">
            <app-icon name="user" size="xl"></app-icon>
          </a>
        </app-header-user-menu>
      </li>

      <li class="app-header__item app-header__item--delimiter"></li>

      <li class="app-header__item">
        <a (click)="onClickCart()" tabindex="0" [attr.aria-label]="'header.cart-button' | translate" class="app-header__link cart">
          <app-icon name="cart" size="xl"></app-icon>
          <i *ngIf="true" class="cart__qty">{{ cartItemsQty }}</i>
        </a>
      </li>
    </ul>
  </div>

  <div class="app-header__mobile-mode">
    <app-logo size="sm" class="mr-4"></app-logo>

    <div class="d-flex align-items-center">
      <li>
        <app-language-bar [items]="languages" (languageChange)="onLanguageChange($event)"></app-language-bar>
      </li>

      <li class="app-header__item app-header__item--delimiter"></li>

      <li
        [ngClass]="{'app-header__item--is-open': isUserMenuOpen}"
        class="app-header__item app-header__item--mobile-icon"
      >
        <a
          clickOutside
          (clickOutside)="onToggleUserMenu(false)"
          (click)="onToggleUserMenu()"
          (keyup.enter)="onToggleUserMenu()"
          class="app-header__link"
          tabindex="0"
        >
          <app-icon name="user" size="xl"></app-icon>
        </a>
      </li>

      <li class="app-header__item app-header__item--delimiter"></li>

      <li class="app-header__item app-header__item--mobile-icon">
        <a (click)="onClickCart()" tabindex="0" class="app-header__link cart">
          <app-icon name="cart" size="xl"></app-icon>
          <i *ngIf="true" class="cart__qty">{{ cartItemsQty }}</i>
        </a>
      </li>

      <li class="app-header__item app-header__item--delimiter"></li>

      <app-hamburger
        [isOn]="isMenuOpen"
        (toggle)="onToggleMenu()"
        [ngClass]="{'app-header__burger--is-open': isMenuOpen}"
        class="app-header__burger"
      ></app-hamburger>
    </div>
  </div>

  <app-header-mobile-menu *ngIf="isMenuOpen" (close)="onToggleMenu()">
    <ul [ngClass]="{'mobile-menu--visible': isMenuOpen}" class="mobile-menu">
      <li *ngFor="let ctrl of headerControls" class="my-3">
        <a
          #headerMobileMenuItem
          tabindex="0"
          (click)="onClickHeaderControl(ctrl.scrollTarget)"
          (keyup.enter)="onClickHeaderControl(ctrl.scrollTarget)"
          class="mobile-menu__link"
        >{{ ctrl.uiName | translate | uppercase }}</a>
      </li>
    </ul>
  </app-header-mobile-menu>

  <app-header-mobile-menu *ngIf="isUserMenuOpen" (close)="onToggleMenu()">
    <ul [ngClass]="{'mobile-menu--visible': isUserMenuOpen}" class="mobile-menu">
      <ng-container *ngIf="isLoggedIn">
        <li *ngFor="let ctrl of authUserControls" class="my-3">
          <a
            #headerMobileMenuItem
            tabindex="0"
            (keyup.enter)="onClickUserMenu(ctrl)"
            (click)="onClickUserMenu(ctrl)"
            class="mobile-menu__link"
          >{{ ctrl.uiName | translate | uppercase }}</a>
        </li>
      </ng-container>
  
      <ng-container *ngIf="!isLoggedIn">
        <li *ngFor="let ctrl of notAuthUserControls" class="my-3">
          <a
            #headerMobileMenuItem
            tabindex="0"
            (keyup.enter)="onClickUserMenu(ctrl)"
            (click)="onClickUserMenu(ctrl)"
            class="mobile-menu__link"
          >{{ ctrl.uiName | translate | uppercase }}</a>
        </li>
      </ng-container>
    </ul>
  </app-header-mobile-menu>

</section>
