// tooltip
.tooltip-container {
  text-align: center;
  position: fixed;
  padding: 6px 12px;
  font-size: 0.66rem;
  font-weight: 600;
  line-height: initial;
  width: auto;
  box-sizing: border-box;
  opacity: 0;
  transform: translate(-50%, -30%);
  animation: slide-down 0.18s ease-out 0.5s;
  animation-fill-mode: forwards;
  pointer-events: none;
  color: $white;
  background-color: $black;
  z-index: $z-header;
}

@keyframes slide-down {
  0% { opacity: 0; transform: translate(-50%, -20%); }
  100% { opacity: 1; transform: translate(-50%, 0); }
}
