@import 'variables';

// cursor
.cursor-pointer { cursor: pointer; }

// font-style
.font-roboto { font-style: 'Roboto'; }
.font-worksans { font-style: 'WorkSans'; }
.font-playfair { font-style: 'PlayfairDisplay'; }

// z-index
.z-index-1 { z-index: 1; }
.z-index-minus-1 { z-index: -1; }

// width / height
.max-width-992 { max-width: $width-1; }
.max-width-1200 { max-width: $width-2; }
.min-height-100vh { min-height: 100vh; }

// background
.bg-white { background-color: $white; }

// hover
.hover-opacity {
  &:hover { opacity: .7; }
}

// focus
.focus-outline {
  &:focus { outline: $outline-1; }
}
