// color
$white: #fff;
$black: #000;
$transparent: transparent;
$primary: #0db981;
$secondary: #044E3B;
$dark-grey: #1F2937;

// transition
$transition-1: .3s;

// z-index
$z-one: 1;
$z-two: 2;
$z-three: 3;
$z-header: 1000;

// font
$playfair: 'PlayfairDisplay';
