@import 'variables';
@import 'mixins';

:host {
  display: inline-flex;
}

.title-tag {
  padding: rem(6px) rem(16px);
  line-height: rem(22px);
  font-size: 1rem;
  color: $thirdly;
  background-color: $fourthly;
}
