<div *ngIf="cart && cartTotals" class="booking-payment">
  <header class="d-flex align-items-center">
    <app-icon (click)="onBack()" name="shevron-left" size="xl" class="booking-payment__back"></app-icon>

    <h2 class="booking-payment__title">{{ 'products.booking.confirm-title' | translate }}</h2>
  </header>

  <div class="selection">
    <p>{{ 'products.booking.slotsQty' | translate: { slots: cartTotals.slotsQty } }}</p>

    <p>{{ 'products.booking.totalPrice' | translate }}: {{ cartTotals.price | number:'2.2' }} UAH</p>
  </div>

  <div class="payment-content">
    <div class="payment-content__container">
      <p *ngIf="!noRegistering" class="payment-content__text">
        <span>{{ 'products.booking.register-benefits' | translate }}</span>

        <app-icon name="gift" size="lg" class="payment-content__icon"></app-icon>
      </p>
  
      <div *ngIf="!noRegistering" class="payment-content__controls">
        <app-primary-button
          (buttonClick)="onRegister()"
          title="{{ 'main.landing.register' | translate }}"
        ></app-primary-button>
  
        <app-secondary-button
          (buttonClick)="goWithoutRegistering()"
          title="{{ 'products.booking.proceed-no-register' | translate }}"
        ></app-secondary-button>
      </div>
  
      <ng-container *ngIf="noRegistering">
        <div class="payment-confirm">
          <div class="payment-options">
  
            <form [formGroup]="formGroup" class="d-flex flex-column">
              <h6 class="payment-options__title">{{ 'products.booking.payment-options.title' | translate }}</h6>
              
              <p class="payment-info">
                <span>{{ 'products.booking.payment-options.email-desc' | translate }}</span>
              </p>
  
              <app-input
                [type]="INPUT_TYPES.EMAIL"
                [controlName]="CONTROL_NAME.EMAIL"
                label="{{ 'footer.email-control' | translate }}"
                color="secondary"
                plh="{{ 'auth.enter' | translate:{x: 'footer.email-control' | translate | lowercase} }}"
                class="payment-content__input"
              ></app-input>
            </form>
  
            <p class="payment-info">
              <span>{{ 'products.booking.payment-options.info' | translate }}</span>
            </p>
  
            <ng-container *ngIf="(content$ | async) as content">
              <div *ngFor="let card of content.paymentCards" class="d-flex flex-column">
                <p class="payment-info">
                  <app-icon name="circle" size="md" class="file-picker__icon"></app-icon>
                  <span>{{ ('products.booking.payment-options.' + card.name) | translate }}</span>
                  <img src="{{ '/assets/images/vector/' + card.name + '.svg'}}" alt="{{card.name + 'logo'}}" class="payment-info__bank-logo">
                </p>
    
                <p class="payment-card">
                  <span>{{ card.number }}</span>
                </p>
              </div>
            </ng-container>
          </div>
          
          <div class="d-flex flex-column">
            <p
              class="file-requirements"
              [ngClass]="{ 'file-requirements--has-error': fileHasError }"
            >{{ 'products.booking.payment-options.file-requirements' | translate }}</p>
  
            <div class="d-flex align-items-center">
              <label for="id-payment-file" class="file-picker">
                <span>{{ 'products.booking.select-file' | translate }}</span>
                <app-icon name="browse" size="lg" class="file-picker__icon"></app-icon>
              </label>
  
              <input (change)="onFileChange($event)" type="file" #paymentFileInput id="id-payment-file" accept="image/*" class="d-none">
  
              <p *ngIf="fileName" class="payment-file">
                <span>{{ fileName }}</span>
                <app-icon (click)="onClearFile()" name="x-button" size="lg" class="payment-file__icon"></app-icon>
              </p>
            </div>
          </div>
        </div>
  
        <div class="d-flex justify-content-end mt-4">
          <app-primary-button
            [disabled]="!formGroup.valid || !fileName"
            (buttonClick)="onConfirmBooking()"
            title="{{ 'products.booking.confirm-booking' | translate }}"
          ></app-primary-button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
