@import 'variables';

.booking-payment {
  width: 100%;
  max-width: rem(768px);
  min-height: 100vh;
  padding: 5rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;

  &__title {
    color: $secondary;
  }

  &__back {
    margin-right: rem(8px);
    transition: $transition-1;
    cursor: pointer;
    &:hover {
      transform: translateX(-3px);
    }
  }
}

.payment-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  overflow-y: auto;

  &__container {
    padding-right: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
  }

  &__input {
    max-width: rem(450px);
    margin-top: 1.5rem;
  }

  &__text {
    margin-bottom: 2rem;
    color: $secondary;
    line-height: 1.3rem;
  }

  &__icon {
    margin-left: rem(4px);
    display: inline-flex;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
  }
}

.file-picker {
  min-width: rem(160px);
  max-width: rem(200px);
  height: rem(57px);
  padding: rem(18px) rem(12px);
  border: 1px solid $primary;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $primary;
  background-color: transparent;
  cursor: pointer;

  &__icon {
    margin: 0 rem(8px);
  }

  &:disabled {
    background: $light-grey;
  }

  &:hover:not([disabled]) {
    opacity: .8;
  }
}

.payment-options {
  display: flex;
  flex-direction: column;
  gap: rem(12px);
  margin-bottom: rem(20px);

  &__title {
    margin-bottom: 1rem;
    color: $primary;
    font-size: rem(18px);
  }
}

.payment-info {
  line-height: 1.3rem;
  color: $secondary;
  display: flex;

  &__bank-logo {
    max-height: rem(12px);
    margin: 0 0.5rem;
  }
}

.payment-card {
  line-height: 1.3rem;
  color: $secondary;
  display: flex;
  margin-left: 2rem;
  margin-top: rem(4px);
  font-weight: bold;
}

.selection {
  padding: rem(12px) rem(24px) rem(12px) rem(12px);
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  border: 1px solid $primary;
  gap: rem(6px);
  transition: $transition-1;
  flex-direction: column;
  color: $secondary;
  background-color: $white;
  display: flex;
}

.payment-file {
  margin-left: 1rem;
  color: $secondary;
  display: flex;

  &__icon {
    margin-left: rem(8px);
    cursor: pointer;

    &:hover {
      opacity: .7;
    }
  }
}

.file-requirements {
  font-size: rem(12px);
  margin-bottom: rem(8px);
  color: $secondary;

  &--has-error {
    color: $warn;
  }
}

.booked {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
}
