<div class="cart">
  <header class="d-flex align-items-center">
    <app-icon routerLink="/" name="shevron-left" size="xl" class="cart__back"></app-icon>

    <h2 class="cart__title">{{ 'products.booking.cart.title' | translate }}</h2>
  </header>

  <div *ngIf="true" class="cart__selected">
    <ul class="scroll-content">

      <li class="cart-item">test</li>
      <li class="cart-item">test</li>
      <li class="cart-item">test</li>
      <li class="cart-item">test</li>
      <li class="cart-item">test</li>
      <li class="cart-item">test</li>
      <li class="cart-item">test</li>
      <li class="cart-item">test</li>
      <li class="cart-item">test</li>
      <li class="cart-item">test</li>
      <li class="cart-item">test</li>
      <li class="cart-item">test</li>
      <li class="cart-item">test</li>
      <li class="cart-item">test</li>
      <li class="cart-item">test</li>

    </ul>
  </div>
</div>
