@import 'variables';

.cart {
  width: 100%;
  max-width: rem(768px);
  min-height: 100vh;
  padding: 5rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;

  &__title {
    color: $secondary;
  }

  &__back {
    margin-right: rem(8px);
    transition: $transition-1;
    cursor: pointer;

    &:hover {
      transform: translateX(-3px);
    }
  }

  &__selected {
    margin: 2rem 2rem 0;
    position: relative;
    display: flex;
    flex-grow: 1;
    overflow: auto;
  }
}

.scroll-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.cart-item {
  height: 50px;
  border: 1px solid green;
}
