@import 'variables';

.cart {
  width: 100%;
  max-width: rem(768px);
  min-height: 100vh;
  padding: 5rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;

  &__title {
    color: $secondary;
  }

  &__back {
    margin-right: rem(8px);
    transition: $transition-1;
    cursor: pointer;

    &:hover {
      transform: translateX(-3px);
    }
  }
}
